<html>
    <head>
        <link rel="stylesheet" href="https://nutroassistant.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
    </head>
        <body>
            <img src="https://nutroassistant.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-26%20at%2010.17.35%20PM.jpeg"  width="150px">
            <img src="https://nutroassistant.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-26%20at%2010.16.38%20PM.jpeg"  width="150px">
            <img src="https://nutroassistant.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-26%20at%2010.17.35%20PM.jpeg"  width="150px">
            <img src="https://nutroassistant.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-26%20at%2010.25.17%20PM.jpeg" width="150px">
            <img src="https://nutroassistant.s3.jp-tok.cloud-object-storage.appdomain.cloud/WhatsApp%20Image%202022-10-26%20at%2010.25.34%20PM.jpeg"  width="150px">
        </body>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "9909dcde-fc33-4b4d-b04b-ec739aa26a2b", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "c95644da-7274-4f14-abec-78a68cc4337d", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>

   
</html>