<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="resume">
      <div class="name-sec">
        <div class="profile">
          <img src=" ../static/photo.jpeg" alt=" " />
        </div>
        <div class="nm-ctn">
          <h1>SangeethKumar</h1>
          <p> Web Developer</p>
          <div class="sum-btn">
            <a href="../static/resume.pdf" download>  
              <button class="bt1">Download CV</button></a>
          
            <a href="./contact.html"><button class="bt2">Hire Me</button></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="abt-sec">
          <h1>About Me</h1>
          <p>
            Hello I'm sangeethkumar.I am Passionate about UI/UX Design and Web Design.I am Skilled Front-end Dveloper, C++ and  Android Studio.
          </p>
        </div>
        <div class="det-sec">
          <span class="ct-gry">
            <p>Age</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Address</p>
          </span>
          <span class="ct-det">
            <p>22</p>
            <p>sangeethkumar@gmail.com</p>
            <p>+91 8945465889</p>
            <p>Salem,Tamilnadu,India</p>
          </span>
        </div>
      </div>
      <div class="skills">
        <h1>Professional Skills</h1>
        <div class="skill-grid">
          <div>
            <legend>HTML</legend>
            <div class="bar1 bar"></div>
          </div>
          <div>
            <legend>CSS</legend>
            <div class="bar2 bar"></div>
          </div>
          <div>
            <legend>JavaScript</legend>
            <div class="bar3 bar"></div>
          </div>
          <div>
            <legend>Android Studio</legend>
            <div class="bar4 bar"></div>
          </div>
          <div>
            <legend>C++</legend>
            <div class="bar5 bar"></div>
          </div>
          <div>
            <legend>Python</legend>
            <div class="bar6 bar"></div>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
